/* Gerais */
body {
    font-family: 'Roboto' , sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação*/
header, .navbar {
    background-color: #353d41;
}

#nav-container {
    padding: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand:hover {
    padding: 0;
    color: #FFF;
}

#navbar-links a {
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}

#main-btn {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
}